@model DrClockwork.Web.Models.AskViewModel
@{
    Layout = null;
}
<!DOCTYPE html>
<html>
    <head>
        <title>Dr. Clockwork</title>
    </head>
    <body>
        <div><img src="/images/drclockwork.png"/></div>
        <h1>I am Dr. Clockwork</h1>
        <div>
            Txt me your questions: +44 7860 033 165
        </div>
    </body>
</html>
