body {
    background-image: url(/Content/dark_leather.png);
    font-family: "atrament-web",sans-serif;
    padding: 15px;
}

.mad-prof {
}

h1, h2, h3, h4, h5 {
    font-family: "atrament-web",sans-serif;
}
.creators a { color: #fff; }
.panel-body {
    font-size: 30px;
}

.mad-prof img {
    display: block;
    margin: 0 auto;
    max-width: 400px;
    width: 100%;
}

.creds {
    color: #d1d2d4;
    text-align: center;
}

    .creds h1 {
        font-size: 5.5em;
    }

    .creds h2 {
        font-size: 4.0em;
        margin-bottom: 5px;
    }
    .creds h3 {
        margin-top: 0;
    }
    .creds h4 {
        font-size: 1.5em;
    }
.credits {
    font-size: 1.5em;
}

    .credits img {
        padding: 3px;
        display: block;
        margin: 0 auto;
    }

.creads-large-placeholder {
    display: none;
}
.creads-small-placeholder {
    display: block;
}
@media (min-width: 992px) {
    body {
        background-attachment: fixed;
    }
    .creds {
        position: fixed;
        top: 2%;
        left: 8%;
    }
    .creads-large-placeholder {
        display: block;
    }
    .creads-small-placeholder {
        display: none;
    }
}

/*@font-face {
    font-family: "pixel";
    src: url(thin_pixel-7.ttf) format("truetype");
}

.message-container {
    width: 80%;
    margin: 0 auto;
    border: 8px solid black;
    border-bottom: none;
    background: #fff;
}

.message {
    padding: 16px;
    font-family: 'pixel', sans-serif; text-transform: uppercase;
    overflow: auto;
    border-bottom: 8px solid   ;
    font-size: 32px;
}

.background-one {
    background: url('background1.png');
}

.background-two {
    background: url('background2.png');
}

.message-left {
    background: #fff;
    border: 4px solid;
    width: 80%;
    margin-bottom: 16px;
    padding: 8px;
}

.message-right {
    background: #fff;
    border: 4px solid;
    float: right;
    width: 80%;
    padding: 8px;
}*/
