<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Dr Clockwork</title>
    <link media="all" rel="stylesheet" href="/content/bootstrap/bootstrap.min.css" type="text/css" />
</head>
    <body>
        <header class="container">
            <div class="row">
                <div class="span4">
                    <img src="/Content/mad_scientist_frog.png" alt="Dr. Clockwork - Ask me anything"/>
                </div>
                <div class="span8">
                    <h1>Dr. Clockwork</h1>
                </div>
            </div>
        </header>
        <div class="container">
            @Each.Questions
            <div class="question">
                <span>@Current.Content - @Current.Answer</span>
            </div>
            @EndEach
        </div>
        <script src="/Scripts/jquery-1.9.1.min.js"></script>
        <script src="/Scripts/bootstrap.min.js"></script>
    </body>
</html>
