<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Dr Clockwork</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Dr. Clockwork is an SMS driven chatter bot based on AIMLBot originating from ELIZA by Joseph Weizenbaum. Dr. Clockwork was originally a competition entry for Hack Manchester 2013.">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="/Content/main.css" />
    <link rel="stylesheet" href="/Content/bubbles.css" />
    <script type="text/javascript" src="//use.typekit.net/yyv7ikw.js"></script>
    <script type="text/javascript">try { Typekit.load(); } catch (e) { }</script>
</head>
<body>
    <div class="row">
        <div class="creds">
            <div class="mad-prof">
                <h1>Dr. Clockwork</h1>
                <img src="/Content/dr-clockwork-logo-2.png" alt="Dr. Clockwork - Ask me anything" />
                <h2>Text me any question</h2>
            </div>
            <div class="credits">
                <div class="row">
                    <div class="col-md-6">
                        <a href="http://www.clockworksms.com/" title="Clockwork SMS">
                            <img src="/Content/clockwork-logo-3.png" title="Clockwork SMS" height="40" alt="Clockwork SMS"/>
                        </a>
                    </div>
                    <div class="col-md-6">
                        <a href="http://www.hackmanchester.com/" title="Hack Manchester">
                            <img src="/Content/hack-manchester-logo.png" title="Hack Manchester" height="40" alt="Hack Manchester"/>
                        </a>
                    </div>
                </div>
                <div class="row">
                    <h4>Created By</h4>
                    <div class="col-md-4">
                        Matt Ross
                    </div>
                    <div class="col-md-4">
                        Mat McLoughlin
                    </div>
                    <div class="col-md-4">
                        Macs Dickinson
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4 creads-large-placeholder">
        </div>
        <div class="col-xs-12 creads-small-placeholder">
        </div>
        <div class="col-md-8">
            <div class="row">
                <div id="questions" class="col-md-8 col-md-offset-2">
                    @Each.Questions
                    <div class="conversation">
                        <div class="bubble bubble-answer">
                            <h3><span class="glyphicon glyphicon-phone"></span> Dr Clockwork</h3>
                            <p>
                                @Current.Answer
                            </p>
                        </div>
                        <div class="bubble bubble-question">
                            <h3><span class="glyphicon glyphicon-phone"></span> @Current.From</h3>
                            <p>
                                @Current.Content
                            </p>
                        </div>
                    </div>
                    @EndEach
                </div>
            </div>
        </div>
    </div>
    <script src="//code.jquery.com/jquery.js"></script>
    <script src="/Scripts/jquery.signalR-1.1.3.min.js"></script>
    <script type="text/javascript" src="/signalr/hubs"></script>
    <script src="/Scripts/bootstrap.min.js"></script>
    <script src="/Scripts/clockworkHub.js"></script>
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
</body>
</html>
