<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Dr Clockwork</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="/Content/main.css" />
    <link rel="stylesheet" href="/Content/bubbles.css" />
    <script type="text/javascript" src="//use.typekit.net/yyv7ikw.js"></script>
    <script type="text/javascript">try { Typekit.load(); } catch (e) { }</script>
</head>
<body>
    <div class="row">
        <div class="col-md-4">
            <div class="mad-prof">
                <h1>Dr. Clockwork</h1>
                <img src="/Content/dr-clockwork-logo-2.png" alt="Dr. Clockwork - Ask me anything" />
                <h2>Ask me anything</h2>
                <h1>Text +44 7860 033 165</h1>
            </div>
            <div class="row">
                <div class="col-md-8 col-md-offset-2">
                    Blerb
                </div>
            </div>
            <div class="row">
                <div class="col-md-8 col-md-offset-2">
                    Contributers
                </div>
            </div>
            <div class="row">
                <div class="col-md-8 col-md-offset-2">
                    Techs Used
                </div>
            </div>
        </div>
        <div class="col-md-8">
            <div class="row">
                <div id="questions" class="col-md-8 col-md-offset-2">
                    @Each.Questions
                    <div class="bubble bubble-answer">
                        <h3>Dr Clockwork</h3>
                        <p>
                            @Current.Answer
                        </p>
                    </div>
                    <div class="bubble bubble-question">
                        <h3>@Current.From</h3>
                        <p>
                            @Current.Content
                        </p>
                    </div>
                    @EndEach
                </div>
            </div>
        </div>
    </div>
    <script src="//code.jquery.com/jquery.js"></script>
    <script src="/Scripts/jquery.signalR-1.1.3.min.js"></script>
    <script type="text/javascript" src="/signalr/hubs"></script>
    <script src="/Scripts/bootstrap.min.js"></script>
    <script src="/Scripts/clockworkHub.js"></script>
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
</body>
</html>
